<nav class="navbar navbar-toggleable-md navbar-light bg-success text-white">

  <a class="navbar-brand" href="#">JohnBar</a>

  <%= link_to "登出", destroy_user_session_path, class: "btn btn-default", method: :delete%>

</nav>
